[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Curse
Categories=Game
Terminal=true
Path=/usr/games/
Icon=/usr/share/icons/hicolor/256x256/apps/net.verizon.danieljohnson2.curse.png
Exec=/usr/games/curse
